@charset "UTF-8";

/* === Section Header === */
header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #F7CF47;
    height: 90px;
}

header.ativo {
    border-bottom: 0.2px solid #101010;
}

header .container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

header .container .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
}

header .container .navbar .logo img {
    width: 150px;
    padding-top: 2px;
    cursor: pointer;
}

header .container .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container .navbar .menu1 ul {
    display: flex;
    list-style: none;
}

header .container .navbar .menu1 ul li {
    padding-left: 20px;
}

header .container .navbar .menu1 ul .ondeestamos {
    width: 155px;
} 

header .container .navbar .menu1 ul li a {
    position: relative;
    font-family: 'GothamPro';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    color: #101010;
    text-decoration: none;
}

/*  Estilização menu (Listras hover) */
header .container .navbar .menu1 ul li a:after {
    content: "";
    position: absolute;
    background-color: #101010;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

header .container .navbar .menu1 ul li a:hover {
    color: #ffffff;
}

header .container .navbar .menu1 ul li a:hover:after {
    width: 100%;
}
/*  Fim - estilização menu */

/* === Fim Section Header === */